$menu-label-spacing: 0rem;
$menu-label-font-size: 1rem;
$menu-label-letter-spacing: 0;

.menu {
  &-label {
    font-weight: bold;
    margin: .5rem 0 0;
    padding: .75rem .5rem;
  }

  &-list {
    padding: .5rem;

    & > li {
      margin-bottom: .5rem;

      & > a {
        padding: .5rem;

        &.is-expanded {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      & > ul {
        border: none !important;
        margin: 0 !important;
        padding: .25rem .5rem .5rem .75rem;
      }
    }
  }

  .icon {
    &.is-pulled-left,
    &:first-child {
      margin-right: .5rem;
    }
    
    &.is-pulled-right,
    &:last-child {
      margin-left: .5rem;
    }
  }
}