$navbar-height: 4rem;
$navbar-padding-horizontal: 5rem;
$navbar-item-img-max-height: 2.5rem;

.navbar {
  .navbar-item {
    &.has-dropdown {
      
    }
    
    &:not(.has-dropdown) {
      align-items: center;
      display: flex;
    }
  }
}