html {
  overflow-y: auto;
}

body {
  @extend %tx-text;

  color: $black-ter;

  &.theme-dark {
    color: $white-ter;

    .title,
    .label {
      color: $white-ter;
    }
  }
}

#app {
  min-height: 100vh;
}