@import "~bulma/sass/utilities/_all";

$primary: #41B883;

%tx-text {
  font-family: Rubik;
  font-size: .9rem;
  font-weight: 300;
}

%tx-title {
  font-family: Rubik;
  font-size: 1.5rem;
  font-weight: 500;
}

@import "components/all";