<template>
  <div class="access-shapes" :class="mode">
    <div
      v-for="idx in count"
      class="access-shapes__item"
      :key="idx"
    />
  </div>
</template>

<script>
export default {
  name: 'AccessShapes',

  props: {
    mode: {
      type: String,
      default: ''
    }
  },

  setup() {
    return {
      count: 7
    }
  }
}
</script>

<style lang="scss" scoped>
$shape-bg: rgba(255,255,255,.075);

.access-shapes {
  display: none;
  height: 100vh;
  position: absolute;
  top: 0;
  transition: left right .25s ease-in-out;
  width: 100vw;
  z-index: -1;
  -moz-transition: left right .25s ease-in-out;
  -webkit-transition: left right .25s ease-in-out;

  @media (min-width: $desktop) {
    display: block;
  }

  &.signin {
    left: 0;
    right: -100vw;
    transition-duration: .4s;
  }
  &.signup {
    left: -70vw;
    right: 0;
    transition-duration: .4s;
  }

  &__item {
    box-sizing: border-box;
    position: absolute;
    -webkit-box-sizing: border-box;
    &:nth-child(1) {
      background-color: $shape-bg;
      width: 70px;
      height: 140px;
      top: 25%;
      right: 45%;
      -webkit-transform: rotate(-65deg);
      transform: rotate(-65deg);
    }
    &:nth-child(2) {
      background-color: $shape-bg;
      width: 250px;
      height: 250px;
      border-radius: 100%;
      top: 13%;
      left: -4%;
    }
    &:nth-child(3) {
      width: 0;
      height: 0;
      border-bottom: 78px solid transparent;
      border-left: 180px solid $shape-bg;
      border-top: 95px solid transparent;
      bottom: 8%;
      left: 11%;
      -webkit-transform: rotate(-46deg);
      transform: rotate(-46deg);
    }
    &:nth-child(4) {
      background-color: $shape-bg;
      width: 75px;
      height: 150px;
      top: 55%;
      left: -1%;
      -webkit-transform: rotate(-75deg);
      transform: rotate(-75deg);
    }
    &:nth-child(5) {
      background-color: $shape-bg;
      width: 250px;
      height: 250px;
      bottom: 17%;
      right: 4%;
      border-radius: 100%;
    }
    &:nth-child(6) {
      width: 0;
      height: 0;
      border-top: 60px solid transparent;
      border-bottom: 70px solid transparent;
      border-left: 160px solid $shape-bg;
      top: 9%;
      right: 24%;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }
    &:nth-child(7) {
      background-color: $shape-bg;      
      width: 140px;
      height: 140px;
      bottom: 4%;
      right: -2.1875rem;
      border-radius: 100%;
    }
  }
}
</style>
