<template>
	<div
		class="control"
		:class="rootClasses"
	>
		<the-mask
			ref="input"
			class="input"
			data-test="the-mask"
			type="text"
			v-bind="$attrs"
      :mask="mask"
			:class="[inputClasses, customClass]"
			:value="value"
			@input="onInput"
			@change="onChange"
			@blur="onBlur"
			@focus="onFocus"
		/>

		<b-icon
			v-if="icon"
			class="is-left"
			data-test="icon-left"
			:class="{'is-clickable': iconClickable}"
			:icon="icon"
			:pack="iconPack"
			:size="iconSize"
			@click.native="iconClick('icon-click', $event)"
		/>
			
		<b-icon
			v-if="iconRight"
			data-test="icon-right"
			class="is-right"
			:class="{ 'is-clickable': iconRightClickable }"
			:icon="iconRight"
			:pack="iconPack"
			:size="iconSize"
			both
			@click.native="rightIconClick"
		/>
	</div>
</template>

<script>
import {TheMask} from 'vue-the-mask'

export default {
	name: 'BInput',

	components: {
    TheMask
	},
  
	props: {
    customClass: {
      type: String,
			default: ''
		},
		
    icon: {
      type: String,
      default: null
    },
		
    iconClickable: {
      type: Boolean,
      default: null
    },
		
		iconPack: {
      type: String,
      default: 'mdi'
    },
		
		iconRight: {
      type: String,
      default: null
    },
		
		iconRightClickable: {
      type: Boolean,
      default: null
    },
		
    mask: {
      type: [String, Array],
      default: ''
    },
		
    value: {
      type: String,
      default: ''
    }
	},

	computed: {
		rootClasses() {
			return [
        this.iconPosition,
        this.size,
        {
          'is-expanded': this.expanded,
          'is-loading': this.loading
        }
			]
		},

		inputClasses() {
			return [
        this.statusType,
        this.size,
        { 'is-rounded': this.rounded }
			]
		},

    iconSize() {
      switch (this.size) {
        case 'is-small': return this.size
        case 'is-medium': return
        case 'is-large': return this.newIconPack === 'mdi'
          ? 'is-medium'
          : ''

        default: return ''
      }
    },

    statusType() {
      const { newType } = this.parentField || {}

      if (!newType) return ''

      if (typeof newType === 'string') {
        return newType
      } else {
        for (const key in newType) {
          if (newType[key]) {
            return key
          }
        }
      }

      return ''
    },

		iconPosition() {
			let iconClasses = ''

			if (this.icon) {
				iconClasses += 'has-icons-left '
			}

			if (this.iconRight) {
				iconClasses += 'has-icons-right'
			}

			return iconClasses
		},

		statusTypeIcon() {
			switch (this.statusType) {
				case 'is-success': return 'check'
				case 'is-danger': return 'alert-circle'
				case 'is-info': return 'information'
				case 'is-warning': return 'alert'
        
        default: return ''
			}
		}
	},

	methods: {
		iconClick(emit, event) {
			this.$emit(emit, event)
			this.$nextTick(() => {
				this.focus()
			})
		},

		rightIconClick(event) {
			if (this.iconRightClickable) {
				this.iconClick('icon-right-click', event)
			}
		},

		onInput(value) {
      this.$emit('input', value)
		},

		onChange(value) {
      this.$emit('change', value)
		},

    onBlur($event) {
      this.isFocused = false
      this.$emit('blur', $event)
    },

    onFocus($event) {
      this.isFocused = true
      this.$emit('focus', $event)
    }
	}
}
</script>
