<template>
  <main :id="`page-${$options.name.toLowerCase()}`" class="access">
    <access-intro
      class="access__intro"
      data-test="access-intro"
      :class="`is-${introMode}`"
      :mode="introMode"
      @click="toggleSwipe"
    />

    <access-signup
      class="access__signup"
      data-test="access-signup"
      :class="{ 'active': isSignupActive }"
      :active="isSignupActive"
    />

    <access-signin
      class="access__signin"
      data-test="access-signin"
      :class="{ 'active': isSigninActive }"
      :active="isSigninActive"
    />
  </main>
</template>

<script>
import AccessIntro from './AccessIntro.vue'
import AccessSignin from './AccessSignin.vue'
import AccessSignup from './AccessSignup.vue'

export default {
  name: 'Access',
  
  components: {
    AccessIntro,
    AccessSignin,
    AccessSignup
  },
  
  data () {
    return {
      swipe: true
    }
  },

  computed: {
    isSigninActive () {
      return !this.swipe
    },

    isSignupActive () {
      return this.swipe
    },

    introMode () {
      return this.swipe ? 'signin' : 'signup'
    }
  },

  methods: {
    async toggleSwipe () {
      const active = this.$el.querySelector('.active')

      this.swipe = await !this.swipe

      if (active) {
        setTimeout(() => active.scroll(0, 0), 300)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.access {
  height: 100vh;

  &__intro {
    height: 35vh;
    left: 0;
    position: absolute;
    right: 0;
   
    @media (min-width: $desktop) {
      -moz-transition: left right .25s ease-in-out;
      -webkit-transition: left right .25s ease-in-out;
      height: 100vh;
      transition-delay: 0s, .15s;
      transition-duration: .5s;
      transition: left right .25s ease-in-out;
      z-index: 30;
    }

    &.is-signup {
      @media (min-width: $desktop) {
        left: 70vw;
        right: 0vw;
        transition-property: right, left;
      }      
    }

    &.is-signin {
      @media (min-width: $desktop) {
        left: 0;
        right: 70vw;
        transition-property: left, right;
      }
    }
  }

  &__signin,
  &__signup {
    height: 65vh;
    left: 0;
    opacity: 0;
    overflow-y: auto;
    padding: 2rem;
    position: absolute;
    top: 35vh;
    transition: all .25s ease-in-out;
    width: 100%;
    z-index: 0;

    @media (min-width: $desktop) {
      -moz-transition: all .25s ease-in-out;
      -webkit-transition: all .25s ease-in-out;
      height: 100vh;
      left: 15vw;
      right: 15vw;
      top: 0;
      transition-delay: 0s;
      transition-duration: .25s;
      width: auto;
    }

    &.active {
      opacity: 1;
      z-index: 30;

      @media (min-width: $desktop) {
        opacity: 1;
        transition-delay: 0s;
        transition-duration: .5s;
      }
    }
  }

  &__signin {
    @media (min-width: $desktop) {
      &.active {
        left: 0vw;
        right: 30vw;
      }
    }
  }

  &__signup {
    &.active {
      @media (min-width: $desktop) {
        left: 30vw;
        right: 0vw;
      }
    }
  }
}
</style>
