<template>
  <div class="access-signin">
    <div class="access-signin__header">
      <h2 class="access-signin__header-title title">
        {{ $t('AccessSignin.title') }}
      </h2>
    </div>
    
    <div class="access-signin__content">
      <form class="access-signin__content-form">
        <b-field
          data-test="field-email"
          :label="$t('AccessSignin.form.email')"
          :message="errorMessages($v.email)"
          :type="{ 'is-danger': $v.email.$error }"
        >
          <b-input
            data-test="input-email"
            v-model="email"
            :placeholder="$t('AccessSignin.form.emailPlaceholder')"
            @input="$v.email.$touch"
          />
        </b-field>

        <b-field
          data-test="field-password"
          :label="$t('AccessSignin.form.password')"
          :message="errorMessages($v.password)"
          :type="{ 'is-danger': $v.password.$error }"
        >
          <b-input
            data-test="input-password"
            password-reveal
            v-model="password"
            type="password"
            maxlength="30"
            :has-counter="false"
            :placeholder="$t('AccessSignin.form.passwordPlaceholder')"
            :message="errorMessages($v.password)"
            @input="$v.password.$touch"
          />
        </b-field>
      </form>
    </div>

    <div class="access-signin__footer">
      <b-button
        data-test="button-submit"
        class="access-signin__footer-button"
        :disabled="$v.$invalid"
        :type="$v.$invalid ? 'is-danger' : 'is-primary'"
        :outlined="$v.$invalid"
        :loading="submitLoading"
        @click="submit"
      >
        {{ $t('AccessSignin.submit') }}
      </b-button>
    </div>
  </div>
</template>

<script>
import { ToastProgrammatic as Toast } from 'buefy'
import { required, email } from 'vuelidate/lib/validators'

import useValidation from '@/uses/validation'
import { passwordLength } from '@/validations/password-length'


export default {
  name: 'AccessSignin',
  
  props: {
    clear: {
      type: Boolean,
      default: false
    }
  },

  setup() {
    const { errorMessages } = useValidation()

    return {
      errorMessages
    }
  },

  data() {
    return {
      email: undefined,
      password: undefined,
      submitLoading: false
    }
  },

  validations () {
    return {
      email: { required, email },
      password: {
        required,
        passwordLength: passwordLength({
          min: 6,
          max: 30
        })
      }
    }
  },

  async mounted() {
    if (this.email && this.password) {
      await this.$v.$touch()
    }
  },

  methods: {
    async submit() {
      await this.$v.$touch()

      if (this.$v.$error) return

      this.submitLoading = true

      Toast.open({
        message: 'Login button click',
        type: 'is-success',
        position: 'is-top',
        actionText: 'Ok'
      })
      
      setTimeout(() => (this.submitLoading = false), 2000)   
    }
  }
}
</script>

<style lang="scss" scoped>
.access-signin {
  align-items: center;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop) {
    justify-content: center;
  }

  &__header {
    margin-bottom: 2rem;

    &-title {
      text-align: center;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;

    &-form {
      width: 100%;
      max-width: 400px;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    width: 100%;

    &-button {
      width: 100px;
    }
  }
}
</style>
