<template>
  <div class="access-intro">
    <access-shapes
      data-test="access-shapes"
      :mode="mode"
    />

    <div class="access-intro__content">
      <div
        class="access-intro__content-animate"
        :class="{ transition }"
      >
        <h1 class="access-intro__content-title">
          {{ title }}
        </h1>
      
        <p class="access-intro__content-text">
          {{ text }}
        </p>
      </div>
      
      <b-button
        data-test="button-swipe"
        class="access-intro__content-button"
        rounded
        type="is-primary is-light"
        :class="{ transition }"
        @click="click"
      >
        {{ buttonText }}
      </b-button>
    </div>
  </div>
</template>

<script>
import AccessShapes from './components/AccessShapes.vue'

export default {
  name: 'AccessIntro',
  
  components: { AccessShapes },
  
  props: {
    mode: {
      type: String,
      default: ''
    }
  },

  data() {
    return {
      buttonText: undefined,
      text: undefined,
      title: undefined,
      transition: false
    }
  },

  mounted() {
    this.setText()
  },

  methods: {
    click() {
      this.$emit('click')
    },
    
    setText() {
      this.buttonText = this.$t(`AccessIntro.${this.mode}.buttonText`)
      this.text = this.$t(`AccessIntro.${this.mode}.text`)
      this.title = this.$t(`AccessIntro.${this.mode}.title`)
    }
  },

  watch: {
    mode() {
      this.transition = true
      setTimeout(() => {
        this.setText()
        this.transition = false
      }, 400)
    }
  }
}
</script>

<style lang="scss" scoped>
$shape-bg: rgba(255,255,255,.075);

.access-intro {
  background: linear-gradient(253deg,$primary 0,$primary-dark 100%);

  &__content {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 90%;
    z-index: 30;

    @media (min-width: $desktop) {
      width: 70%;
    }

    &-button {
      margin-top: 2rem;
      min-width: 200px;
    }

    &-text {
      font-size: 1rem;
      line-height: 1.25rem;
      @media (min-width: $desktop) {
        font-size: 1.375rem;
        line-height: 2rem;
      }
    }

    &-title {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1rem;
      
      @media (min-width: $desktop) {
        font-size: 3rem;
        margin-bottom: 2rem;
      }
    }
  }
}

.transition {
  opacity: 0;
  transition-duration: .25s;

  @media (min-width: $desktop) {
    transition: opacity left right .25s ease-in-out;
    -moz-transition: opacity left right .25s ease-in-out;
    -webkit-transition: opacity left right .25s ease-in-out;
    transition-duration: .2s;
  }
}
</style>
