<template>
  <div class="access-signup">
    <div class="access-signup__header">
      <h2 class="access-signup__header-title title">
        {{ $t('AccessSignup.title') }}
      </h2>
    </div>

    <div class="access-signup__content">
      <form class="access-signup__content-form">
        <b-field
          data-test="field-name"
          :label="$t('AccessSignup.form.name')"
          :message="errorMessages($v.name)"
          :type="{ 'is-danger': $v.name.$error }"
        >
          <b-input
            data-test="input-name"
            v-model="name"
            :placeholder="$t('AccessSignup.form.namePlaceholder')"
            @input="$v.name.$touch"
          />
        </b-field>

        <b-field
          data-test="field-phone"
          :label="$t('AccessSignup.form.phone')"
          :message="errorMessages($v.phone)"
          :type="{ 'is-danger': $v.phone.$error }"
        >
          <app-masked-input
            data-test="input-phone"
            v-model="phone"
            :placeholder="$t('AccessSignup.form.phonePlaceholder')"
            :mask="[masks.phone, masks.celphone]"
            @input="$v.phone.$touch"
          />
        </b-field>

        <b-field
          data-test="field-email"
          :label="$t('AccessSignup.form.email')"
          :message="errorMessages($v.email)"
          :type="{ 'is-danger': $v.email.$error }"
        >
          <b-input
            data-test="input-email"
            v-model="email"
            :placeholder="$t('AccessSignup.form.emailPlaceholder')"
            @input="$v.email.$touch"
          />
        </b-field>

        <b-field
          data-test="field-password"
          :label="$t('AccessSignup.form.password')"
          :message="errorMessages($v.password)"
          :type="{ 'is-danger': $v.password.$error }"
        >
          <b-input
            data-test="input-password"
            password-reveal
            v-model="password"
            type="password"
            maxlength="30"
            :placeholder="$t('AccessSignup.form.passwordPlaceholder')"
            :has-counter="false"
            @input="$v.password.$touch"
          />
        </b-field>

        <b-field
          data-test="field-passwordConfirm"
          :label="$t('AccessSignup.form.passwordConfirm')"
          :message="errorMessages($v.passwordConfirm)"
          :type="{ 'is-danger': $v.passwordConfirm.$error }"
        >
          <b-input
            data-test="input-passwordConfirm"
            password-reveal
            v-model="passwordConfirm"
            type="password"
            maxlength="30"
            :placeholder="$t('AccessSignup.form.passwordPlaceholder')"
            :has-counter="false"
            @input="$v.passwordConfirm.$touch"
          />
        </b-field>
      </form>
    </div>

    <div class="access-signup__footer">
      <b-button
        data-test="button-submit"
        class="access-signup__footer-button"
        :disabled="$v.$invalid"
        :type="$v.$invalid ? 'is-danger' : 'is-primary'"
        :outlined="$v.$invalid"
        :loading="submitLoading"
        @click="submit"
      >
        {{ $t('AccessSignup.submit') }}
      </b-button>
    </div>
  </div>
</template>

<script>
import { ToastProgrammatic as Toast } from 'buefy'
import { required, email, minLength, sameAs } from 'vuelidate/lib/validators'

import AppMaskedInput from "@/components/AppMaskedInput"
import masks from "@/constants/masks"

import useValidation from '@/uses/validation'
import { fullName } from '@/validations/full-name'
import { passwordLength } from '@/validations/password-length'

export default {
  name: 'AccessSignup',

  components: { AppMaskedInput },
  
  props: {
    clear: {
      type: Boolean,
      default: false
    }
  },
  
  setup() {
    const { errorMessages } = useValidation()

    return {
      errorMessages
    }
  },

  data() {
    return {
      name: undefined,
      phone: undefined,
      email: undefined,
      password: undefined,
      passwordConfirm: undefined,
      submitLoading: false,
      masks
    }
  },

  validations () {
    return {
      name: {
        required,
        name: fullName
      },
      email: {
        required,
        email
      },
      phone: {
        required,
        validPhone: minLength(10)
      },
      password: {
        required,
        passwordLength: passwordLength({
          min: 6,
          max: 30
        })
      },
      passwordConfirm: {
        required,
        passwordLength: passwordLength({
          min: 6,
          max: 30
        }),
        passwordMatch: sameAs('password')
      }
    }
  },
  
  methods: {
    async submit() {
      await this.$v.$touch()
      
      if (this.$v.$error) return

      this.submitLoading = true

      Toast.open({
        message: 'Register button click',
        type: 'is-success',
        position: 'is-top',
        actionText: 'Ok'
      })
      
      setTimeout(() => (this.submitLoading = false), 2000)
    }
  }
}
</script>

<style lang="scss" scoped>
.access-signup {
  align-items: center;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop) {
    justify-content: center;
  }

  &__header {
    margin-bottom: 2rem;

    &-title {
      text-align: center;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;

    &-form {
      width: 100%;
      max-width: 400px;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    width: 100%;

    &-button {
      width: 100px;
    }
  }
}
</style>
